html {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

@font-face {
  font-family: 'moonhouse';
  src: url('/images/moonhouse.ttf') format('truetype'),
  url('/images/moonhouse.woff') format('truetype');
  font-weight: normal;
  font-style: normal;
}


body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'moonhouse', sans-serif;
  background: radial-gradient(circle, #6f748c 10%, #353949 70%, #000000 100%);
}

.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: white;
  border-radius: 50%;
  z-index: -1;
}

#start-btn {
  font-family: 'moonhouse', sans-serif;
  position: absolute;
  border-radius: 70px;
  padding: 10px 150px;
  border-color: transparent;
  background-color: rgb(255, 255, 255, 0.5);
  font-size: 100px;
  letter-spacing: 10px;
  z-index: 10;
}

#earth {
  width: 200px;
  height: 200px;
  background-color: transparent;
  z-index: 1;
}

#earth-image {
  position: absolute;
  width: 400px;
  height: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.shrinking {
  animation: shrink 2s ease forwards;
}

@keyframes shrink {
  0% {
    width: 400px;
    height: 400px;
  }
  100% {
    width: 200px;
    height: 200px;
  }
}

#sun-btn {
  background-color: transparent;
  border-color: transparent;
  transition: opacity 2s ease;
  opacity: 1;
}

.arrow, .info {
  background: white;
  width: 75px;
  height: 75px;
  border-radius: 50%;
  margin: 15px;
  position: absolute;
  transition: 0.4s ease;
}

.arrow {
  top: 42%;
  left: 10%;
}

.info {
  bottom: 2%;
  right: 2%;
}

.arrow:hover, .info:hover {
  box-shadow: 0px 0px 5px 5px rgb(134, 140, 151);
  cursor: pointer;
}

.arrow div, .info div {
  height: 20px;
  width: 20px;
  border-top: 8px solid black;
  border-left: 8px solid black;
  border-radius: 5px;
  transform: rotate(45deg);
  position: absolute;
  left: 25px;
  top: 27.5px;
}


.direction {
  transform: rotate(90deg);
}

#hidden {
  opacity: 0;
  visibility: hidden;
  transition: visibility 0s;
}

.fade-in {
  animation: fadeIn 1s ease-in-out forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: visible;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

#hidden-sun {
  visibility: hidden;
}

#sun {
  position: absolute;
  height: 100%;
  width: auto;
  left: -100%;
  top: 0;
  transform: translateX(35%);
  cursor: pointer;
  z-index: 2;
  transition: left 1s ease;
}


#sun.slide-in {
  left: -35%;
}

#sun.slide-out {
  left: -50%;
}

#moon {
  position: absolute;
  height: 100px;
  width: auto;
  cursor: pointer;
  z-index: 2;
}

#ring {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  height: 500px;
  border: 2px dashed white;
  border-radius: 50%;
  z-index: 1;
}

#wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 200px; 
  border-radius: 50%;
  background: radial-gradient(circle, #002bc8 30%, #f3fbd0 80%);
  transition: width 0.5s ease, height 0.5s ease;
  z-index: 1;
}

#sun-wave {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  height: 200px; 
  border-radius: 50%;
  background: radial-gradient(circle, #c80000 30%, #f3fbd0 80%);
  transition: width 0.5s ease, height 0.5s ease;
  z-index: 0;
}

.text-box {
  position: fixed;
  top: 80%;        
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  padding: 5px 25px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255, 0.5);
  font-size: 22px;
  text-align: center;
  z-index: 10;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
}

@media (max-width: 600px) {
  #earth-image {
    width: 200px;
    height: 200px;
  }

  @keyframes shrink {
    0% {
      width: 300px;
      height: 300px;
    }
    100% {
      width: 200px;
      height: 200px;
    }
  }

  #wave {
    width: 250px;
    height: 200px;
  }

  #sun-wave {
    width: 200px;
    height: 250px;
  }

  #ring{
    display: none;
  }
  
  .arrow {
    background: white;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    margin: 15px;
    position: absolute;
    top: 5%;
    left: 75%; 
    transition: 0.4s ease;
  }
  
  .direction {
    transform: rotate(180deg);
  }
  
  #sun {
    position: absolute;
    height: auto;
    width: 100%;
    top: -70%;
    cursor: pointer;
    z-index: 2;
    transition: top 1s ease;
  }

  #sun.slide-in {
    top: -60%;
  }
  
  #sun.slide-out {
    opacity: 0;
  }
  
  #sun-wave {
    width: 200px;
    height: 350px; 
  }

  #moon {
    top:10%;
    left:10%;
  }

  #start-btn {
    padding: 5px 50px;
    font-size: 40px;
    letter-spacing: 5px;
  }

  .text-box {
    font-size: 16px;
    padding: 5px 15px;
    width: 80%;
    top: 70;
  }

}

@media (min-width: 600px) and (max-width: 1000px) {
  #earth-image {
    width: 200px;
    height: 200px;
  }

  @keyframes shrink {
    0% {
      width: 300px;
      height: 300px;
    }
    100% {
      width: 200px;
      height: 200px;
    }
  }

  #wave {
    width: 250px;
    height: 200px;
  }

  #moon {
    top:10%;
    left:10%;
  }

  #ring {
    width: 450px;
    height: 450px;
  }

  #start-btn {
    padding: 5px 50px;
    font-size: 40px;
    letter-spacing: 5px;
  }

  .text-box {
    font-size: 16px;
    padding: 5px 15px;
    width: 80%;
  }

  .arrow {
    top: 10%;
    left: 80%;
  }

  .direction {
    transform: rotate(180deg);
  }
  #sun {
    position: absolute;
    height: auto;
    width: 100%;
    top: -100%;
    cursor: pointer;
    z-index: 2;
    transition: top 1s ease;
  }

  #sun.slide-in {
    top: -100%;
  }
  
  #sun.slide-out {
    opacity: 0;
  }
  
  #sun-wave {
    width: 200px;
    height: 325px; 
  }

  .text-box {
    top: 73%;
  }
}

@media (min-width: 1000px) and (max-width: 1200px) {
  #sun {
    transform: translateX(10%);
  }
  #sun.slide-in {
    left: -50%;
  }
  #sun.slide-out {
    left: -70%;
  }
}

@media (min-width: 1200px) {
  #sun {
    transform: translateX(10%);
  }
  #sun.slide-in {
    left: -40%;
  }
  #sun.slide-out {
    left: -70%;
  }
}